/* CSS used here will be applied after bootstrap.css */
#cartModal .modalBackground {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
}

#cartModal .modal {
  display: block !important;
  position: fixed;
  top: 7%;
  right: 5%;
  transform: translate(3%, -0%);
  z-index: 10;
  border-radius: 16px;
  width: 700px;
}

#cartModal .modal-content {
  overflow-y: initial !important;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
}

#cartModal .modal-body {
  min-height: 150px;
  max-height: 350px;
  overflow-y: auto;
}

#cartModal .modal-header {
  text-align: center;
}

#cartModal .modal-body img {
  width: 5rem;
}

#cartModal .lineItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin: 1.5rem 1rem;
}

#cartModal .lineItem > h3 {
  flex-basis: 10%;
  text-align: end;
}

#cartModal .lineItem > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cartModal .lineItem > div > h3 {
  margin: 0.2rem;
}

#cartModal .lineItemQuantity {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#cartModal .lineItemQuantity p {
  padding: 0.7rem;
  margin: 0.2rem 0.5rem;
  background-color: lightgrey;
  border-radius: 0.5rem;
}

#cartModal .modal-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
