.Nav {
  margin: 0.5rem;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#header > h1 {
  margin: 0rem;
}

#header > div {
  display: flex;
  align-items: center;
}

#header > div > * {
  font-size: 1.3rem;
  padding: 0.7rem;
  margin: 0.3rem;
}

#header > div > button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

#header > div > i:hover,
#navTabs > a:hover,
.dropbtn:hover {
  transition: all 0.2s;
  color: darkgrey;
  cursor: pointer;
}

#header > div > button:hover {
  transition: all 0.2s;
  background-color: darkgrey;
}

#navTabs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2rem;
}

.dropbtn,
#navTabs > a {
  text-decoration: none;
  color: black;
  border: none;
  font-size: 20px;
  background-color: white;
}

.dropdown-items {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  padding: 2px;
  z-index: 1;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-items a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-items a:hover {
  background-color: #ddd;
  transition: all 0.2s;
}

.dropdown:hover .dropdown-items {
  display: block;
}
